 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	color: #fff;
}
html{
	font-size: 62.5%;
}
body{	
	font-size: 1.6rem; 
	font-weight: 400;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul li a,a{
	text-decoration: none;
}
/*======================  Start Page  ======================*/

.bg-image {
	background: url(../images/bg.png) no-repeat center center / cover; 
}

/* .banner_area{
	padding-bottom: 500px;
}

.banner-right img {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
	z-index: 1;
} */

.banner-left {
	position: relative;
	z-index: 2;
}

.banner-left h2 {
    font-size: 33px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 38px;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
}

.banner-left h2 span {
    color: #ffd814;
}

.banner-left p{
	font-size: 12px ;
	margin-bottom: 20px;
}

.btn-1 {
	display: inline-block;
	background-color: #24991c;
	color: #000;
	font-size: 13px;
	font-weight: 500;
	padding: 15px 12px;
	border-radius: 5px; 
	color: #fff;
}

.btn-2 {
	display: inline-block;
	background-color: transparent;
	color: #fff;
	font-size: 13px;
	font-weight: 500;
	padding: 15px 12px;
	border-radius: 5px; 
	color: #fff;
	border: 1px solid #fff;
}

.pricing-card h3  { 
	font-size: 12px;
	font-weight: 500;
}

.pricing-card p  { 
	font-size: 10px;
	font-weight: 400;
}

.pricing-card {
    padding: 0 10px;
}

.border-lr {
	border-left: 1px solid #808080;
	border-right: 1px solid #808080;
}

.section-padding {
	padding-top: 60px;
}

.portfolio-card {
	padding: 20px 0;
	padding-bottom: 0;
	border-radius: 15px;
	border: 1px solid #ddd;
}

.portfolio-card h3 {
    font-size: 22px;
    color: #fff;
    font-weight: 500;
}

.portfolio-card p {
    font-size: 11px; 
    font-weight: 400;
	width: 100%;
	max-width: 200px;
	margin: 0 auto;
}

.portfolio-card img {
	width: 100%;
}


/*======================  End Page  ======================*/


